<!-- MAIN IMAGE SECTION -->
<div id="aboutwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
<!--
                <h2>We Are Storytellers.
                    <br/>Brands Are Our Subjects.
                </h2>
-->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</div>
<!-- /aboutwrap -->

<!-- CHART IMAGE SECTION -->
<div>
    <div class="container">
        <div class="row mt">
<!--
            <div class="col-lg-8 chart hidden-sm hidden-xs">
                <img class="img-responsive" src="../assets/img/chart.png" alt="">
            </div>
-->
            <!-- col-lg-8 -->

            <div class="col-lg-12">
                <h1>About SPOT Software</h1>
                <p>SPOT Software progetta e sviluppa software personalizzato per la realizzazione di soluzioni di integrazione e siti web dinamici.</p>
                <p>In oltre dieci anni di presenza attiva sul mercato abbiamo imparato come realizzare software tecnicamente all'avanguardia a costi contenuti e come creare siti web usabili, ma graficamente attraenti e ben visibili nei motori di ricerca.</p>
                <p>Crediamo fortemente nella qualità delle persone che lavorano con noi e nel loro aggiornamento professionale. Tutti i progettisti del nostro team di sviluppo seguono regolarmente corsi di formazione specifici e molti sono già Microsoft Certified Professional (nonostante la loro giovane età). Pensiamo che avere le persone giuste e gli strumenti più adatti per fare il proprio lavoro sia un ottimo punto di partenza per un rapporto di reciproca soddisfazione con i nostri clienti. Dal 1999 a oggi abbiamo sviluppato soluzioni software nei più svariati campi per il Gruppo 24 Ore, Hera, Esa Software, Orogel, Technogym e molti altri.</p>
                <p>Abbiamo creato interi moduli gestionali per professionisti (per il Gruppo Sole 24 Ore), applicazioni mobile per la lettura di parametri di impianto (per il Gruppo Hera), applicativi per il calcolo dei punti di rottura di materiali compositi, extranet integrate con sistemi di gestione documentale o di ordini d'acquisto, siti di e-commerce collegati a sistemi gestionali e molto altro ancora.</p>
                <p>Abbiamo integrato software preesistenti di ERP (Enterprise Resource Planning), SCM (supply chain management), MPR (Materials Requirements Planning) e CRM (Customer Relationship Management) e abbiamo sviluppato soluzioni software su misura ex novo sulla base delle necessità dei clienti. Abbiamo creato siti web dinamici integrati con basi dati esterne e con sistemi di gestione CMS open source e li abbiamo resi visibili sul web attraverso i motori di ricerca.</p>
                <p>Lavoriamo principalmente su piattaforma Microsoft (SQL Server, .NET, WPF, WCF, Silverlight, WindowsMobile). Abbiamo maturato esperienza con piattaforme Oracle, MySQL, Sybase. Attraverso partner esterni di provata affidabilità siamo in grado di offrire consulenze sull'usabilità e l'architettura dei contenuti delle soluzioni web e soluzioni avanzate di web marketing e promozione on line. Se vuoi informatizzare qualsiasi processo aziendale e renderlo accessibile via web, oppure realizzare un sito dinamico professionale ed efficace, noi siamo i partner giusti.</p>
                
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /.container -->
</div>
<!-- chartwrap -->

<!-- SERVICES SECTION -->
<div id="services">
    <div class="container">
        <div class="row mt">
            <!-- Srvice 1 -->
            <div class="col-lg-1 centered">
                <i class="fa fa-certificate"></i>
            </div>
            <div class="col-lg-3">
                <h3>Analisi</h3>
                <p class="tm">Analizzeremo insieme la problematica da risolvere per costruire un piano di lavoro dettagliato, con flussi di progetto e evidenziandone le criticità. A volte, queste analisi, richiedono l'acquisizione di know how operativi sulla struttura/frame work utilizzata dal committente. Al termine di questa fase, condivideremo i risultati dell'analisi attraverso una serie di documenti di progetto sintetici, ma dettagliati, anche secondo lo standard UML (Unified Modeling Language)</p>
            </div>

            <!-- Srvice 2 -->
            <div class="col-lg-1 centered">
                <i class="fa fa-question-circle"></i>
            </div>
            <div class="col-lg-3">
                <h3>Sviluppo</h3>
                <p class="tm">A seguito dell'analisi, inizieremo a sviluppare la soluzione, individuando, ove conveniente, eventuali componenti software di terze parti al fine di velocizzare e standardizzare il processo secondo know how consolidati nelle migliori community di sviluppo, ricevendo spesso anche il supporto diretto di Microsoft (in quanto loro partner certificati). In questa fase vengono pianificati incontri per valutare la coerenza di quanto sviluppato e verificare insieme lo stato di avanzamento del progetto.</p>
            </div>

            <!-- Srvice 3 -->
            <div class="col-lg-1 centered">
                <i class="fa fa-globe"></i>
            </div>
            <div class="col-lg-3">
                <h3>Test</h3>
                <p class="tm">Dopo una validazione formale del progetto da parte del cliente, verrà avviata una fase di test per mettere alla prova le applicazioni software sviluppate in modo da simulare situazioni di funzionamento reali. I test verranno validati dal responsabile di progetto, e, successivamente, da parte di un team specializzato nella validazione di prodotti software.

</p>
            </div>

            <!-- Srvice 4 -->
            <div class="col-lg-1 centered">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="col-lg-3">
                <h3>Deployment (Installazione)</h3>
                <p class="tm">Una volta superati i test interni verrà avviata la fase di deployment. I progetti web saranno pubblicati in rete. Se necessario possono essere sviluppati specifici supporti e procedure per l'installazione autonoma della soluzione. Naturalmente si rimarrà in stretto contatto per il tempo sufficiente a verificare eventuali problematiche di adattamento ai vari hardware di supporto.

</p>
            </div>

            <!-- Srvice 5 -->
            <div class="col-lg-1 centered">
                <i class="fa fa-cog"></i>
            </div>
            <div class="col-lg-3">
                <h3>Manutenzione</h3>
                <p class="tm">Grazie alla modularità con cui vengono progettati i prodotti è possibile effettuare con facilità manutenzioni evolutive. Eventuali modifiche dei flussi aziendali dei nostri clienti possono richiedere variazioni, anche strutturali, dei prodotti. Progettare una soluzione personalizzata significa inoltre prevedere il massimo grado di integrabilità con i sistemi esistenti per minimizzare gli interventi di manutenzione</p>
            </div>

            

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- services section -->


<!-- TEAM INTRODUCTION -->

<!-- container -->

<!-- TEAM MEMBERS -->
<!--
<div class="container">
    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="../assets/img/team/gianni.png" alt="Gianni">
            <div class="cardinfo">
                <h4>
                    <b>GIANNI DI MARCO</b>
                </h4>
                <h6>ART DIRECTOR</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                <p>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="../assets/img/team/rebecca.png" alt="Rebecca">
            <div class="cardinfo">
                <h4>
                    <b>REBECCA ZEARING</b>
                </h4>
                <h6>DESIGN DIRECTOR</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                <p>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="../assets/img/team/william.png" alt="Gianni">
            <div class="cardinfo">
                <h4>
                    <b>WILLIAM SMITH</b>
                </h4>
                <h6>TEAM MANAGER</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                <p>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
-->
    <!-- row -->
<!--</div>-->
<!-- container -->




<!-- CALL TO ACTION -->
<!--
<div id="call">
    <div class="container">
        <div class="row">
            <h3>THIS IS A CALL TO ACTION AREA</h3>
            <div class="col-lg-8 col-lg-offset-2">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p>
                    <button type="button" class="btn btn-green btn-lg">Call To Action Button</button>
                </p>
            </div>
        </div>
    </div>
</div>
-->
<!-- Call to action -->

<!--
<div class="container">
    <div class="row mt">
        <div class="col-lg-12">
            <h1>Stay Connected</h1>
            <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
            <br>
        </div>
    </div>
</div>
-->
<!-- container -->