<div class="cbp-af-header" ng-controller="NavbarCtrl" ng-class="{'cbp-af-header-shrink' : isShrinked()}">
    <div class="cbp-af-inner">
        <h1>Spot Software</h1>
        <nav>
            <a ng-repeat="item in items" ng-href="{{item.link}}" 
               ng-class="{active: $parent.isActive(item.link)}"
               ng-click="$parent.scrollTop()">
                {{item.title}}
            </a>
            
            <a ng-repeat="anchor in anchors" ng-click="$parent.anchorScroll(anchor.hash)">
                {{anchor.title}}
            </a>
        </nav>
    </div>
</div>