<!-- MAIN IMAGE SECTION -->
    <div id="serviceswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>We Redefine The Power
                        <br/>Of Design
                    </h2>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->

    <!-- PROCESS SECTION -->
    <div class="container">
        <div class="row mt">
            <div class="col-lg-8">
                <h1>Our Process</h1>
                <hr>
                <h3>
                    <b>LEARN</b>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <br>
                <h3>
                    <b>DESIGN</b>
                </h3>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
                <br>
                <h3>
                    <b>BUILD</b>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <br>
                <h3>
                    <b>EVOLVE</b>
                </h3>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
            </div>
            <!-- col-lg-8 -->
            <div class="col-lg-4">
                <ul class="process effect-2" id="process">
                    <li>
                        <img src="../assets/img/process/pro01.png">
                    </li>
                    <li>
                        <img src="../assets/img/process/pro02.png">
                    </li>
                    <li>
                        <img src="../assets/img/process/pro03.png">
                    </li>
                    <li>
                        <img src="../assets/img/process/pro04.png">
                    </li>
                </ul>
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /.container -->


    <!-- SERVICES SECTION -->
    <div id="services">
        <div class="container">
            <div class="row mt">
                <!-- Srvice 1 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-certificate"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Quality Design</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                <!-- Srvice 2 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Awesome Support</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                <!-- Srvice 3 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Global Services</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                <!-- Srvice 4 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-desktop"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Responsive Design</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                <!-- Srvice 5 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Easy Configuration</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                <!-- Srvice 6 -->
                <div class="col-lg-1 centered">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="col-lg-3">
                    <h3>Crafted With Love</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- services section -->




    <!-- CLIENTS LOGOS -->
    <div id="lg">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-2 col-lg-offset-1">
                    <img src="../assets/img/clients/c01.gif" alt="">
                </div>
                <div class="col-lg-2">
                    <img src="../assets/img/clients/c02.gif" alt="">
                </div>
                <div class="col-lg-2">
                    <img src="../assets/img/clients/c03.gif" alt="">
                </div>
                <div class="col-lg-2">
                    <img src="../assets/img/clients/c04.gif" alt="">
                </div>
                <div class="col-lg-2">
                    <img src="../assets/img/clients/c05.gif" alt="">
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- dg -->


    <!-- CALL TO ACTION -->
    <div id="call">
        <div class="container">
            <div class="row">
                <h3>THIS IS A CALL TO ACTION AREA</h3>
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    <p>
                        <button type="button" class="btn btn-green btn-lg">Call To Action Button</button>
                    </p>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- Call to action -->

    <div class="container">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>Stay Connected</h1>
                <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
                <br>
            </div>
            <!-- col-lg-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->