<!-- MAIN IMAGE SECTION -->
    <div id="serviceswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                   
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->

    <!-- PROCESS SECTION -->
     <div class="container">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>Soluzioni</h1>
                <hr>
                <h2>Operiamo da oltre 10 anni nella produzione di software personalizzato per l'integrazione di sistemi gestionali con applicazioni web e siti Internet dinamici.</h2>
                <p>Progettiamo e sviluppiamo software per l'integrazione di sistemi informativi con applicazioni web, siti Internet dinamici e dispositivi mobili.

</p>
                <p>Siamo in grado di integrare qualsiasi area dei sistemi gestionali già in uso in azienda con applicazioni mobile e siti web dinamici professionali. Ciclo attivo (ordini dai clienti), ciclo passivo (ordini a fornitori), magazzino, gestione commesse, appuntamenti, e qualsiasi altro dato sia disponibile in database SQL server, Oracle, MySQL o SYbase, in modo da eliminare del tutto i tempi di trasmissione dei dati, gli errori e le inesattezze, aumentando così l'efficienza dei sistemi informativi e riducendo i costi aziendali.</p>
                <p>Oltre a lavorare con tutti i sistemi gestionali più diffusi in Italia, ci occupiamo naturalmente dello sviluppo di software su misura per le esigenze più diverse e della realizzazione di siti web dinamici professionali, dotati di CMS open source e ottimizzati per i motori di ricerca.</p>
                <p>Abbiamo esperti consulenti che collaborano con noi, in grado di progettare e gestire intere campagne di web marketing. Sono già molti i grandi gruppi aziendali e le piccole e medie aziende innovative in provincia di Forlì Cesena, in Emilia Romagna e in tutta Italia che hanno già provato con successo le nostre soluzioni software personalizzate.
</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt">
            <div class="col-lg-12">                
                 <h3>
                    <b>MOBILE</b>
                </h3>
                <p>Abbiamo sviluppato la prima applicazione mobile nel 2003, e da allora continuiamo a farlo.</br>
Ogni soluzione che approntiamo comporta sempre nuove sfide tecnologiche e a noi queste sfide piacciono particolarmente.</br>
Sviluppiamo progetti con interfacce responsive che si adattano ai vari device ed alle diverse risoluzioni.

</p>
                <br>
                <h3>
                    <b>PROGETTI PERSONALIZZATI</b>
                </h3>
                <p>In quasi 15 anni di esperienza nel settore dello sviluppo di applicazioni software personalizzate abbiamo esplorato i più svariati campi operativi, raggiungendo sempre gli obiettivi dei progetti affrontati.
L'integrazione di sistemi informativi eterogenei (prodotti cioè da software house diverse o operanti su basi dati diverse) è uno degli ambiti in cui interveniamo più di frequente, interfacciandoci spesso con altri produttori di software, per arrivare a soluzioni funzionali ed economicamente convenienti per l'azienda committente.

Inoltre poniamo sempre grande attenzione allo sviluppo dell' interfaccia utente, in modo da creare software visivamente gradevoli e altamente usabili.
</p>
                <br>
                <h3>
                    <b>WEB</b>
                </h3>
                <p>Nel 1999, tra i primi in Italia, abbiamo realizzato un sistema di gestione ordini on-line per un'azienda di catering. Dal quel momento abbiamo realizzato oltre 80 siti, tutti diversi, ma tutti con un unico obiettivo: offrire un'esperienza di navigazione di alto livello.</br>
I nostri siti web dinamici sono dotati di un sistema di gestione dei contenuti open source (il che vi renderà autonomi nel loro aggiornamento senza legarvi a vita alla nostra struttura) e nascono con architetture search engine friendly, che li rendono ideali per sviluppare attività che richiedono visibilità nei motori di ricerca.</br>

Negli oltre dieci anni di attività abbiamo sviluppato portali tematici, intranet ed extranet per la gestione di ordini on-line, siti di e-commerce integrati con gestionali aziendali, servizi e applicazioni mobile per terminali portatili.
</p>
                <br>
                
            </div>
            
            <!-- col-lg-4 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /.container -->


   



    
    