<!-- MAIN PROJECT SECTION -->
<div id="sp">
    <div class="container">
        <div class="row">
            <h2>Client Name Goes Here</h2>
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</div>
<!-- /portrwrap -->

<!-- WELCOME SECTION -->
<div class="container">
    <div class="row mt centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>
                <b>Spot Free Theme</b>
            </h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /.container -->

<!-- MAC IMAGE -->
<div class="container">
    <div class="row centered">
        <div class="col-lg-10 col-lg-offset-1">
            <img class="img-responsive" src="../assets/img/spot.png" alt="Spot Theme">
        </div>
    </div>
</div>


<!-- CLIENT INFORMATION -->
<div id="lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 desc">
                <h3>Client Desctription</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            </div>

            <div class="col-lg-4 col-lg-offset-1 desc">
                <h3>Agency Resume</h3>
                <br>
                <h5>
                    <b>Team Leader:</b>REBECCA ZEARING</h5>
                <h5>
                    <b>Agency Job:</b>WEB DESIGN, WEB DEVELOPMENT</h5>
                <h5>
                    <b>Proposal Description:</b>
                </h5>
                <p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.
                    <br/>Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                <p>
                    <a href="http://BlackTie.co">
                        <i class="fa fa-link"></i>Visit Site</a>
                </p>

            </div>

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- dg -->


<!-- SINGLE PROJECT STANDOUT IMAGE -->
<div id="sp-standout"></div>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>More Information</h1>
            <ul class="process effect-2" id="process">
                <li>
                    <img src="../assets/img/sp/p01.png">
                </li>
                <li>
                    <img src="../assets/img/sp/p02.png">
                </li>
                <li>
                    <img src="../assets/img/sp/p04.png">
                </li>
                <li>
                    <img src="../assets/img/sp/p03.png">
                </li>
            </ul>
        </div>
        <!-- col-lg-8 -->
    </div>
    <!-- row -->
</div>
<!-- container -->


<!-- CALL TO ACTION -->
<div id="call">
    <div class="container">
        <div class="row">
            <h3>THIS IS A CALL TO ACTION AREA</h3>
            <div class="col-lg-8 col-lg-offset-2">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p>
                    <button type="button" class="btn btn-green btn-lg">Call To Action Button</button>
                </p>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- Call to action -->

<div class="container">
    <div class="row mt">
        <div class="col-lg-12">
            <h1>Stay Connected</h1>
            <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
            <br>
        </div>
        <!-- col-lg-12 -->
    </div>
    <!-- row -->
</div>
<!-- container -->