<!-- SOCIAL FOOTER --->
<div id="sf">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 dg">
                <h4 class="ml">FACEBOOK</h4>
                <p class="centered">
                    <a href="https://www.facebook.com/spotsoftware" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </p>
                <a href="https://www.facebook.com/spotsoftware" target="_blank" class="ml">> Become A Friend</a>
            </div>
            <div class="col-lg-4 lg">
                <h4 class="ml">TWITTER</h4>
                <p class="centered">
                    <a href="https://twitter.com/spot_software" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </p>
                <a href="https://twitter.com/spot_software" target="_blank" class="ml">> Follow Us</a>
            </div>
            <div class="col-lg-4 dg">
                <h4 class="ml">GOOGLE +</h4>
                <p class="centered">
                    <a href="https://plus.google.com/+SpotIt/" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </p>
                <a class="ml" target="_blank" href="https://plus.google.com/+SpotIt/">> Add Us To Your Circle</a>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- Social Footer -->